.rotate-45-left:before {
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
}

.rotate-45-right:before {
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
}

.fixed-panel {
  min-height: 250px;
  max-height: 250px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}